[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipython = "*"
django-extensions = "*"
pandas = "*"
pywin32 = "*"
nltk = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7.6"
