 {% extends "layout.html" %} {% load static %} {% block content %} {% block styles %}


<link rel="stylesheet" href="{% static 'news-block.css' %}">

<div class="container">
    <div class="row gy-5 overflow-hidden">
        <!--        {% for new in news%}-->

        <div class="col-6">
            <div class="data-row">
                <a href={% url 'news_detail' new.id%} style="display:inline-block; text-decoration:none">
                    <p id="title">{{new.title}}</p>
                </a>
                <br>
                <span id="date">
             {{new.date}}
           </span>
                <a href="{% url 'user_article' new.author %}"><div id="author" align="right">—  {{new.author}} </div></a>
            </div>
        </div>


        <!-- {% endfor %}-->
    </div>
</div>
{% endblock %} {% endblock %}