
{% extends "layout.html" %}
{% load static %}

{% block content %}
{% block styles %}


    <link rel="stylesheet" href="{% static 'news-block.css' %}">


<style>


    .col-8 {
    font-family: "Spartan",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 750;
}

.col-4 {
    padding-top: 5px;
    text-align:right;
}
    .row {
    margin: 10px 5px ;
}
.input-group-text {
    font-family: "Spartan",sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
        color: #7b7e82;
        background-color:#fff;
    width: 120px;
    height: 45px;
    border: none;
    outline: none;

}

.col-7 {
    padding-top: 10px;
}

.col {
    padding-top : 4px;
}

.styling {
    font-family: "Spartan",sans-serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    width: 135px;
    height: 50px;
    border: none;
    outline: none;
}


</style>
<div align="right" style="margin-right:4.2rem;"><button onclick="location.href = '{% url 'home' %}';" class="btn btn-dark" ><i class="fas fa-long-arrow-alt-left"></i></button></div>

<div class="container">
      <div class="row">
        <div class="col-8">Articles by {{username}}</div>
        <div class="col-4" >
        </div>
      </div>


</div>
<div class="container" >
    <div class="row gy-5 overflow-hidden">
        {% for new in News%}
    <div class="col-6" >
     <div class="data-row">
          <a href={% url 'news_detail' new.id %} style="display:inline-block; text-decoration:none">
       <p id="title">{{new.title}}</p>
            </a>
         <br>
     <span id="date">
             {{new.date}}
           </span> <div id="author" align="right">—  {{new.author}} </div>
     </div>
   </div>

{% endfor %}
    </div>
</div>


 {% endblock %}
 {% endblock %}